@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

.logo-wrapper {
    width: 100%;
    height: 100%;
}

.logo-svg {
    width: 100%;
    height: auto;
}

.logo-text-ryuga {
    font-family: 'Corinthia', cursive;
    fill: #ffffff;
    font-size: 95px;
}

.logo-dot {
    fill: #FF3333;
}

.logo-text-dev {
    font-family: 'Corinthia', cursive;
    fill: #ffffff;
    font-size: 75px;
}

.logo-line {
    fill: #ffffff;
}